@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
body{
    box-sizing: border-box;
    font-family: 'Questrial', sans-serif;
}

.img-responsive {
    max-width: 100%;
}

header {
    position: relative;
    box-shadow: 0px 5px 4px 0px rgb(63 63 63 / 27%);
    width: 100%;
    background-color: #fff;
}
aside {
    min-height: 100vh;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #C2185B;
}

.btn-primary{
    background-color: #C2185B;
    border-color: #C2185B;
}
.btn-primary.efeito:hover{
    background: linear-gradient(to right, #c2185b 50%, #0d6efd 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 300ms ease-out;
}
.form-control{
    border-color: #C2185B;
    resize: none;
}

.close{
    position: absolute;
    font-size: 1.8em;
    top: -20px;
    right: 7px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #C2185B ;
    background: white;
    cursor: pointer;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .3);
}

main.login {
    width: 400px;
}

section.full{
    width: 100%;
    min-height: 80vh;
    padding: 50px 0;
}

article.evento {
    width: 350px;
}

footer nav ul{
    list-style: none;
    display: flex;
}

footer nav ul li  {
    padding: 10px;
}

.row aside a svg {
    display: none;
}

@media screen and (min-width: 946px) and (max-width: 1150px) {
    .row aside img {
        width: 100px !important;
        height: auto !important;
    }
}
@media screen and (max-width: 945px) {
    .row {
        display: flex;
        flex-direction: column;
    }
    .row aside {
        width: 100vw;
        margin-bottom: -320px;
    }
    .row aside img {
        width: 140px;
        height: auto;
    }
    .row aside a {
        margin: 0 auto;
    }
    .row aside a svg {
        display: none;
    }
    .row aside ul {
        margin-bottom: 0 !important;
        text-align: center;
    }
    main {
        width: 100vw !important;
    }
}
